body{
    background-color: #000;
    color: #ccc;
}

/* --------------------------------------------------------------------- */

header{
    background-color: #333;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
header > nav{
    width: 30%;
    display: flex;
    justify-content: center;
}
.headerBotao{
    margin: 0 5%;
    padding: .5rem 1rem;
    background-color: #0033ad;
    color: #ccc;
    text-decoration: none;
}

/* --------------------------------------------------------------------- */

h1{
    margin: 1rem 2rem;
    color: #ccc;
}

.dadosCadastraisIdentificacao, .dadosCadastraisEndereco{
    margin: 1rem 2rem;
    padding: .5rem 1rem;
    background-color: #03a;
}

.dadosCadastraisIdentificacao > h3, .dadosCadastraisEndereco > h3{
    margin: .5rem 0;
    padding: 0 1rem;
    border-bottom: solid #3339;
}

/* .dadosCadastraisIdentificacao{
    
} */

/* .dadosCadastraisEndereco{
    
} */

/* --------------------------------------------------------------------- */

.botaoCadastrar{
    background-color: #03a;
    color: #ccc;
    margin: 1rem 2rem;
    height: 2rem;
    width: 6rem;
    transition: .3s;
}
.botaoCadastrar:hover{
    background-color: #03a5;
}

/* --------------------------------------------------------------------- */

footer{
    background-color: #333;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
