@import"./reset.css";

/* estilizaçao para ficar responsivo */
@media(max-width: 100px) {
    header {
        width: 100px;
    }
}

header {

    justify-content: center;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #002147;
}

/* Alinhamento do conteudo dos navegadores e seu tamanho.  */
nav {
    margin-bottom: 20px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/* Estilização de tamanhos e cores das palavras que são os botões.  */
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    height: 70px;
}

/* Definição de posição e cor do rodapé. */
footer {
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #002147 ;
    padding: 5px;
    
}

.blocoFooter{
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    gap: 100px;
}

/* Rodapé da pagina inicial fixada no final da tela.  */
.rodapeIndex {
    position: fixed;
    padding: 5px;
}


/* Alinhamento do texto e cor dentro do rodapé.  */
p {
    padding-right: 15px;
    color: #00000099;
}

/* Quando passar com mouse por cima dos botões das redes socias no footer, a imagem aumenta um pouco sinalizando que se clicado vai ser redirecionado para outra página.  */
.imagemFooter:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Imagem do background */
.imagemFundo {
    max-width:100%;
	height:auto;
    position: absolute;
    z-index: -1;
}

/* Coluna da barra de atividades */

.coluna1 {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 200px;
    background-color: black;
    position: absolute;
    z-index: 0;
    margin-left: 3%;
    margin-top: 2%;
}


