/* ------------- MAIN DO CADASTRO */
/* definindo a cor de fundo em preto */
/* definindo a cor das letras em um tom mais suave do branco */
main{
    background-color: #000;
    color: #eee;
}

#formCadastro{
    margin: 5% 2%;
    background-color: #152a63;
    border-radius: 15px;
    padding-bottom: 1.5rem;
}

.dadosIdentificacao, .dadosEndereco{
    padding: .5rem;
    width: 100%;
}

/* linha em baixo das legendas do fieldset */
.legendaFieldset{
    border-bottom: solid 1px #eee;
}

.grupoInput{
    padding-bottom: 1rem;
}

.grupoInput > small{
    font-weight: lighter;
    font-size: x-small;
}

.cidade{
    padding-right: 0.2rem;
}
.uf{
    padding-left: 0.2rem;
}

/* ------------- RESPONSIVIDADE DO  CADASTRO */

/* 1920 x 1080.
768 x 1024.
Móvel: 360 x 720. */

/* Telas maiores de 500px */
@media (min-width: 500px) { 
    main > form{
        max-width: 500px;
        border: solid red;
    }
}
