/* -------------------------------------- MAIN DO  CADASTRO */

main{
    background-color: #000;
    color: #fff;
}
main > form{
    /* border: solid green; */
    /* margin-top: 5%; */
    width: 100%;
}

.dadosIdentificacao, .dadosEndereco{
    /* border: solid yellow; */
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 5%;
    background-color: #152a63;
    width: 100%;
}

.grupoInput{
    padding-bottom: 1rem;
}

.grupoInput > small{
    /* padding-left: 1rem; */
    font-weight: lighter;
    font-size: x-small;
}

/* -------------------------------------- RESPONSIVIDADE DO  CADASTRO */

/* 1920 x 1080.
768 x 1024.
Móvel: 360 x 720. */

/* Telas maiores de 500px */
@media (min-width: 500px) { 
    main > form{
        max-width: 500px;
        border: solid red;
    }
}
