
/* ---------------------------------------------------------- BODY DO CADASTRO */
body {
    display: flex;
    flex-direction: column;
    /* definindo o minino de tela para sempre ter conteúdo na tela */
    min-height: 100vh;
}

/* ---------------------------------------------------------- MAIN DO CADASTRO */
/* definindo a cor de fundo em preto e a cor das letras em um tom mais suave do branco */
main{
    background-image: url("../styles/imagens/auroraboreal.jpg");
    background-size: cover;
    color: #eee;
    flex-grow: 1;
}

#formCadastro{
    margin: 1rem .5rem;
    background-color: #152a63;
    border-radius: 15px;
    padding-bottom: 1.5rem;
}

.grupoFieldset{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.dadosIdentificacao, .dadosEndereco{
    padding: .5rem;
    width: 100%;
}

/* linha em baixo das legendas do fieldset */
.legendaFieldset{
    border-bottom: solid 1px #eee;
}

/* Definição geral para os grupo de input */
.grupoInput{
    padding-bottom: 1rem;
    width: 100%;
}
.grupoInput > small{
    font-weight: lighter;
    font-size: x-small;
}

/* definição dos input cidade e uf */
.cidadeInput{
    width: 70%;
    padding-right: .2rem;
}
.ufInput{
    width: 30%;
    padding-left: .2rem;
}

/* estilo para o botão de cadastro */
.botaoCadastro{
    transition: .2s;
}
.botaoCadastro:hover{
    scale: 1.05;
}

/* ---------------------------------------------------------- RESPONSIVIDADE DO  CADASTRO */
/* 1920 x 1080. 768 x 1024. Móvel: 360 x 720. */

/* Telas maiores de 500px */
@media (min-width: 500px) { 
    #formCadastro{
        max-width: 500px;
    }
    .grupoFieldset{
        padding: .5rem 1rem;
    }
    /* Definição geral para os grupo de input */
    .grupoInput{
        padding: .2rem .5rem;
        width: 50%;
    }

    /* definição de largura dos input nome, rg e email */
    .nomeInput{
        width: 70%;
    }
    .rgInput{
        width: 30%;
    }
    .emailInput{
        width: 100%;
    }

    /* definição de largura dos input de endereço*/
    .cepInput{
        width: 30%;
    }
    .cidadeInput{
        width: 70%;
    }
    .bairroInput, .ruaInput{
        width: 80%;
    }
    .ufInput, .numeroInput{
        width: 20%;
    }
}

/* Telas maiores de 800px */
@media (min-width: 800px) { 
    #formCadastro{
        max-width: 900px;
    }
    
    /* definição de largura dos input nome, rg e email */
    .nomeInput{
        width: 40%;
    }
    .rgInput{
        width: 20%;
    }
    .emailInput{
        width: 40%;
    }

    /* definição de largura dos input de endereço*/
    .cepInput, .bairroInput{
        width: 30%;
    }
    .cidadeInput, .ruaInput{
        width: 50%;
    }
    .ufInput, .numeroInput{
        width: 20%;
    }
}


