/* Define o layout do corpo como uma coluna e ocupa o mínimo de altura disponível */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /* Faz o conteúdo principal crescer para preencher o espaço disponível */
    flex-grow: 1;
    /* Permite rolagem vertical se o conteúdo ultrapassar a altura da tela */
    display: flex;
    overflow-y: auto;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
}

section {
    margin-top: 4%;
    height: 60%;
    width: 30%;
    background-color: #152a63;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 30px 16px 9px rgba(17, 40, 103, 0.607);
}

label {
    /* Define a margem superior para o rótulo */
    margin-top: 7%;
}

input {
    width: 100%;
}

.formularioDeEnvio {
    height: 50%;
    width: 65%;

}

button {
    margin-top: 4%;
    margin-bottom: 4%;
}