@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Define o layout do corpo como uma coluna e ocupa o mínimo de altura disponível */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

main {
    /* Faz o conteúdo principal crescer para preencher o espaço disponível */
    flex-grow: 1;
    /* Permite rolagem vertical se o conteúdo ultrapassar a altura da tela */
    display: flex;
    overflow-y: auto;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
}

section {
    margin-top: 4%;
    height: 60%;
    width: 30%;
    background-color: #152a63;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 30px 16px 9px rgba(17, 40, 103, 0.607);
}

label {
    /* Define a margem superior para o rótulo */
    margin-top: 7%;
}

input {
    width: 100%;
}

.formularioDeEnvio {
    height: 50%;
    width: 65%;

}

button {
    margin-top: 4%;
    margin-bottom: 4%;
}

textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
}

h3 {
    font-size: 100%;
}

.equipe {
    margin-bottom: 5%;
    display: flex;
    justify-content: center; 
    flex-direction: column;  
}

.equipeContainer {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LinkSociais {
    text-decoration: none;
    font-size: 90%;
}

.LinkSociais:hover {
    font-size: 105%;
    transition: 0.5s;
    color: #0077ff;
}