/* Estilos para tornar o site responsivo */

/* Ajusta o tamanho do cabeçalho e do logotipo para telas menores */
@media (max-width: 768px) {
    header {
      height: 8vw;
    }
  
    header img {
      height: 6vw;
      margin-left: 1.5vw;
      margin-top: 0.6vw;
    }
  
    h2 {
      margin-left: 2.5vw;
      margin-top: -22vw;
      font-size: 4vw;
    }
  
    nav {
      margin-left: 2.5vw;
      margin-top: -2.5vw;
    }
  
    #button2,
    #button3,
    #button4 {
      width: 12vw;
    }
  
    #menuAcesso {
      width: 12vw;
      margin-left: 1vw;
      margin-top: 2vw;
    }
  
    #menuAcesso img {
      width: 6vw;
    }
  
    .streetView {
      margin-left: 2.5vw;
      margin-top: -12vw;
    }
  
    #accordion {
      width: 90vw;
      margin-left: 2.5vw;
      margin-top: 4vw;
    }
  
    .redesSociais {
      width: 14vw;
      margin-left: 72.5vw;
      margin-top: 0.4vw;
    }
  
    footer img {
      height: 2.5vw;
    }
  
    footer p {
      margin-left: 30vw;
      margin-top: -0.8vw;
    }
  }
  
  /* Ajustes adicionais para telas ainda menores */
  @media (max-width: 479px) {
    header {
      height: 10vw;
    }
  
    header img {
      height: 8vw;
      margin-left: 2vw;
      margin-top: 0.6vw;
    }
  
    h2 {
      margin-left: 2.5vw;
      margin-top: -16vw;
      font-size: 3vw;
    }
  
    nav {
      margin-left: 2.5vw;
      margin-top: -2.5vw;
    }
  
    #button2,
    #button3,
    #button4 {
      width: 15vw;
    }
  
    #menuAcesso {
      width: 15vw;
      margin-left: 1vw;
      margin-top: 2vw;
    }
  
    #menuAcesso img {
      width: 7.5vw;
    }
  
    .streetView {
      margin-left: 2.5vw;
      margin-top: -8vw;
    }
  
    #accordion {
      width: 90vw;
      margin-left: 2.5vw;
      margin-top: 4vw;
    }
  
    .redesSociais {
      width: 18vw;
      margin-left: 72.5vw;
      margin-top: 0.4vw;
    }
  
    footer img {
      height: 2vw;
    }
  
    footer p {
      margin-left: 40vw;
      margin-top: -0.8vw;
    }
  }
  
  /* Estilos restantes do CSS */
  
  /* ... Insira o restante do seu CSS aqui ... */
    

header {
    background-color: #002147;
    width: 100%;
    height: 60px;
}

header img {
    height: 55px;
    width: auto;
    margin-left: 12px;
    margin-top: 3px;
}

h2 {
    position: absolute;
    margin-left: 25%;
    margin-top: -325px;
    z-index: -3;
    color: white;
    font-style: bold;
}

.imagemFundo {
    max-width:100%;
    height:auto;
    position: absolute;
    z-index: -3;
}

#accordion {
    position: relative;
    z-index: 4;
    margin-top: -33.5%;
    width: 30%;
    margin-left: 66%;
}


footer {
    display: flex;
    left: 0;
    bottom: 0;
    margin-top: 35%;
    padding-top: 12px;
    width: 100%;
    height: 24%;
    background-color: #002147 ;
    z-index: -1;
}

nav {
    display: flex;
    flex-direction: row;
    margin-left: 65.5%;
    z-index: 0;
    margin-top: -45px;
}


#button1 {
    margin-right: 10px;
    margin-bottom: 0px;
    width: 90px;
    height: auto;

}

#button2, #button3, #button4 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    width: 90px;
    height: auto;
}

#button1 a {
        text-decoration: none;
        color: white;
}

#button2 a {
    text-decoration: none;
    color: white;
}

#button3 a {
    text-decoration: none;
    color: white;
}

#button4 a {
    text-decoration: none;
    color: white;
}
#menuAcesso {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: auto;
    padding-top: 2%;
    margin-left: 18%;
    z-index: 1;
}

#menuAcesso img {
    width: 50px;
    height: auto;
    z-index: 2;
}

.iconeTools, .iconeAvisos, .iconeNotas {
    margin-top: 8px;
    margin-bottom:  8px;
    z-index: 3;

}

 .iconeExplorar {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px 4px 0 0;
}

.iconeAjuda {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 0 0 4px 4px;
} 

.streetView {
    margin-left: 25%;
    margin-top: -255px;
    z-index: 2;
}

.card1, .card2, .card3, .card4, .card5, .card6 {
    background-color: black;
    opacity: 0.48;
}

.card1 {
    border-radius: 4px 4px 0px 0px;
}

.card6 {
    border-radius: 0px 0px 4px 4px;
}

.card1, .card2, .card3, .card4 p {
    color: white;
    font-style: bold;
}

.card5, .card6 p{
    color: rgb(238, 226, 226);
    font-style: bold;
}

footer {
    position: relative;
    display: flex;
    margin-top: 287px;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    text-align: center;
}

.redesSociais {
    width: 125px;
    height: 60px;
    position: absolute;
    margin-left: 88.5%;
    margin-top: -0.6%;

}

.instagramIcone {
    color: black;
    margin-right: 4px;
}

.faceIcon, .whatsIcon {
    color: black;
    margin-left: 4px;
    margin-right: 4px;
}

footer img {
    height: 30px;
    width: auto;
    margin-top: 2px;
}

footer p {
    position: relative;
    color: white;
    font-style: bold;
    align-items: center;
    margin-left: 35%;
    margin-top: -4px;
}


.bandeiraNoruega {
    height: 30px;
    width: auto;
    margin-top: -8px;
    margin-left: 12px;
}