/*@import"./reset.css";

/* estilizaçao para ficar responsivo */
/*@media(max-width: 100px) {
    header {
        width: 100px;
    }
}*/

header {
    background-color: #002147;
    width: 100%;
    height: 60px;
}

header img {
    height: 55px;
    width: auto;
    margin-left: 12px;
    margin-top: 3px;
}

h2 {
    position: absolute;
    margin-left: 25%;
    margin-top: -325px;
    z-index: -3;
    color: white;
    font-style: bold;
}

.imagemFundo {
    max-width:100%;
    height:auto;
    position: absolute;
    z-index: -3;
}

#accordion {
    position: relative;
    z-index: 4;
    margin-top: -520px;
    width: 422px;
    height: 150px;
    margin-left: 66%;
}

footer {
    display: flex;
    left: 0;
    bottom: 0;
    margin-top: 35%;
    padding-top: 12px;
    width: 100%;
    height: 20%;
    background-color: #002147 ;
    z-index: -1;
}

nav {
    display: flex;
    flex-direction: row;
    margin-left: 66%;
    z-index: 0;
    margin-top: -45px;
}

nav:hover{

}

#button1 {
    margin-right: 10px;
    margin-bottom: 0px;
    width: 90px;
    height: auto;
}

#button2, #button3, #button4 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    width: 90px;
    height: auto;
}

#menuAcesso {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: auto;
    padding-top: 2%;
    margin-left: 18%;
    z-index: 1;
}

#menuAcesso img {
    width: 50px;
    height: auto;
    z-index: 2;
}

.iconeTools, .iconeAvisos, .iconeNotas {
    margin-top: 8px;
    margin-bottom:  8px;
    z-index: 3;

}

 .iconeExplorar {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px 4px 0 0;
}

.iconeAjuda {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 0 0 4px 4px;
} 

.streetView {
    margin-left: 25%;
    margin-top: -255px;
    z-index: 2;
}

.card1, .card2, .card3, .card4, .card5, .card6 {
    background-color: black;
    opacity: 0.4;
}

.card1 {
    border-radius: 4px 4px 0px 0px;
}

.card6 {
    border-radius: 0px 0px 4px 4px;
}

.card1, .card2, .card3, .card4 p {
    color: white;
    font-style: bold;
}

.card5, .card6 p{
    color: rgb(238, 226, 226);
    font-style: bold;
}

footer {
    position: relative;
    display: flex;
    margin-top: 287px;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 40px;
    text-align: center;
}

.redesSociais {
    background-color: aliceblue;
    width: 125px;
    height: 40px;
    position: absolute;
    margin-left: 88.5%;
    margin-bottom: 10px;

}

.instagramIcone {
    color: black;
    margin-right: 4px;
    margin-bottom: 10px;
}

.faceIcon, .whatsIcon {
    color: black;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 10px;
}





