/* ----------- PÁGINA DE LOGIN ----------- */

body{
    background-color: black;
}

.formcontainer{
    display: flex;
    justify-content: center; /* Alinhar horizontalmente ao centro */
    align-items: center; /* Alinhar verticalmente ao centro */
    height: 25vh; /* Altura da janela de visualização */
    font-size: 23px;
}

/* div do formulário */
.form{
    border: 1px solid #333333; /* Borda sólida verde */
    background: #333333;
    border-radius: 61px; /* Raio de curvatura de 10 pixels */
    padding: 75px; /* Espaçamento interno */
    margin-top: 35%;
    font-size: 25px;
}

label {
    display: flex;
    margin-top: 20px;
  }

/* caixinha de saída do form */
.output {
  font-size: 17px;
}

.button{
    display: flex;
    justify-content: center; /* Alinhar horizontalmente ao centro */
    align-items: center; /* Alinhar verticalmente ao centro */
}

#submit{
    width: 114px;
    height: 35px;
    flex-shrink: 0;
    background: #0033AD;
}

.linkRecuperaSenha{
    color: #FFF;
    font-size: 17px;
}