/* ----------- PÁGINA DE LOGIN ----------- */

/* Configurações gerais do body */
body{
    display: flex;
    flex-direction: column;
    min-height: 101Vh;
}

/* Container do formulário */
.formcontainer{
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Alinhar horizontalmente ao centro */
    align-items: center; /* Alinhar verticalmente ao centro */
    overflow-y: auto;
    font-size: 23%;
    background-image: url("../styles/imagens/auroraboreal.jpg");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

/* Estilização do formulário */
.form{
    border: 1px solid #152a63; /* Borda sólida verde */
    background: #152a63;
    border-radius: 61px; /* Raio de curvatura de 10 pixels */
    padding: 75px; /* Espaçamento interno */
    margin-top: 10%;
    font-size: 27px;
}

input {
    border-radius: 15px;
}

/* Estilização das labels */
label {
    display: flex;
    margin-top: 25px;
    color: white;
}


/* Estilização do botão */
.button{
    display: flex;
    justify-content: center; /* Alinhar horizontalmente ao centro */
    align-items: center; /* Alinhar verticalmente ao centro */
}

#submit {
    width: 70%;
    flex-shrink: 0;
    background: #0033AD;
    border-radius: 10px;
    margin-top: 10%;
    transition: 0.3s ease; /* Transição suave de cor */
}

#submit:hover {
    background-color: #0055FF; /* Nova cor ao passar o mouse */
}

/* Estilização do link de recuperação de senha */
    a {
    color: #4b73d1; /* Altera a cor do texto do link */
    font-size: 25px;
  }
  
  a:hover {
    color: #6680b4; /* Altera a cor do link ao passar o mouse sobre ele */
  }
  

/* Media queries para tornar o CSS responsivo */
@media (max-width: 768px) {
    body{
        min-height: 113Vh;
    }
    
    .formcontainer {
        margin-top: 0%;
    }

    .form {
        width: 90%;
        padding: 40px; /* Espaçamento interno */
        margin-top: 10%;
        font-size: 15px;
    }

    #submit {
        width: 90%;
    }
}
