@import"./reset.css";

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002147;
}

/* eu optei de colocar a logo dentro de uma div pq a logo e uma imagem fazada e por isso não ia ficar legal colocar um background direto na imagem */
.designFundoLogo {
    margin: 1%;
    padding: 1%;
    height: 5%;
    width: 5%;
    background-color: #CCCCCC;
    border-radius: 50%;
    text-align: center;
}

/* estilizando a logo do site */
.imgLogo {
    margin: 1%;
    height: 30%;
    width: 60%;
    border-radius: 0%;
}

.menuNavegacao {
    display: flex;
    justify-content: center;
    width: 7%;
    margin: 2%;
    margin-right: 7%;
}

.linkPaginaInicial {
    text-decoration: none;
    color: white;
    background-color: #0033AD;
    font-size: 90%;
    padding: 8%;
    border-radius: 15%;
    transition: 0.2s;
}

.linkPaginaInicial:hover {
    transform: scale(1.2);
}

h1 {
    color: white;
}